<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>武汉职业技术学院</strong>
                        <span>2018 - 2021 | 计算机技术与软件工程学院 | 计算机网络技术</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>
                            学习计算机专业WEB前后端相关知识，并获得奖学金2次。
                        </p>
                        <p>
                            在校获得1+X Web前端开发职业技能等级证书（中级）、Web前端开发职业技能等级证书（高级）
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
