<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">项目经验</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Sep <strong class="text-upper">2020</strong> - Oct <strong>2020</strong></span>
                    </time>
                    <h3>VUE全家桶 在线音乐播放器</h3>
                    <span class="education-company">Vue全家桶 + ElementUI + VANT</span>
                    <p>负责页面设计、布局、样式、前后端交互、上线</p>
                    <p>此项目为 web 音乐播放器 App（SPA）</p>
                    <p>包括歌曲、MV的搜索播放，评论列表的展示</p>
                    <p>可自适应移动端和手机端</p>
                    <p>采用模块化、组件化、工程化的模式开发</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Apr <strong class="text-upper">2020</strong> - May <strong>2020</strong></span>
                    </time>
                    <h3>React全家桶 后台管理系</h3>
                    <span class="education-company">React全家桶 Node Express Axios</span>
                    <p>此项目为一个前后台分离的后台管理的 SPA</p>
                    <p>包括前端 PC 应用和后端应用</p>
                    <p>包括用户管理 / 商品分类 管理 / 商品管理 / 权限管理等功能模块</p>
                    <p>前端: 使用 React全家桶+Antd+Axios+ES6+Webpack 等技术</p>
                    <p>后端: 使用 Node + Express + Mongodb 等技术</p>
                    <p>采用模块化、组件化、工程化的模式开发。</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Mar <strong class="text-upper">2020</strong> - Apr <strong>2020</strong></span>
                    </time>
                    <h3>VUE全家桶 手机外卖</h3>
                    <span class="education-company">JS ES6 VUE VUEX Element Axios</span>
                    <p>此项目为外卖 Web App (SPA)</p>
                    <p>包括商家, 商品, 购物车, 用户等多个子模块</p>
                    <p>使用 Vue 全家桶 +ES6+Webpack 等前端最新最热的技术</p>
                    <p>采用模块化、组件化、工程化的模式开发。</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Nov <strong class="text-upper">2019</strong> - Jan <strong>2020</strong></span>
                    </time>
                    <h3>LEAVEL MOOC系统</h3>
                    <span class="education-company">PHP LEAVEL JQ H-UI</span>
                    <p>此项目为前后端分离项目</p>
                    <p>后端使用LEAVEL 制作数据后台管理页面，使用H-ui前端框架界面</p>
                    <p>结合Mysql，实现页面对数据库数据的 增删改查。</p>
                    <p>前端使用BootStrap制作用户注册、视频播放页面。</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Sept <strong class="text-upper">2019</strong> - Oct <strong>2019</strong></span>
                    </time>
                    <h3>静态京东首页、注册页、商品详情页</h3>
                    <span class="education-company">HTML CSS JS JQ</span>
                    <p>此项目为京东电脑版购物网站，有简单业务交互。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
