<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人作品</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/vueMusicPC.png' | prepend: site.baseurl }}" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">VUE音乐播放器 - PC端</h2>
                                <p>此项目为 web 音乐播放器 App（SPA） ，包括歌曲、MV的搜索播放，评 论列表的展示，可自适应移动端和手机端，采用模块化、组件化、工程化的模式开发。</p>
                                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/portfolio/vueMusicPC.png' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">VUE音乐播放器 - PC端</h2>
                            <p class="text-muted"><strong>Vue全家桶 + ElementUI + VANT</strong></p>
                            <dl class="dl-horizontal">
                                <dt>项目源代码地址:</dt>
                                <dd><a href="https://github.com/shuhongfan/vue-music-pc">源代码</a></dd>
                                <dt>Demo展示地址:</dt>
                                <dd><a href="http://mlnz0x.coding-pages.com">Demo</a></dd>
                            </dl>
                            <p>此项目为 web 音乐播放器 App（SPA） ，包括歌曲、MV的搜索播放，评论列表的展示，可自适应移 动端和手机端，采用模块化、组件化、工程化的模式开发。</p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/vueMusic.png' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">VUE音乐播放器 - 手机端</h2>
                                <p>此项目为 web 音乐播放器 App（SPA） ，包括歌曲、MV的搜索播放，评 论列表的展示，可自适应移动端和手机端，采用模块化、组件化、工程化的模式开发。</p>
                                <a href="#pf-popup-2" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pf-popup-2" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/portfolio/vueMusic.png' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">VUE音乐播放器 - 手机端</h2>
                            <p class="text-muted"><strong>Vue全家桶 + ElementUI + VANT</strong></p>
                            <dl class="dl-horizontal">
                                <dt>项目源代码地址:</dt>
                                <dd><a href="https://github.com/shuhongfan/vue-music-vant">源代码</a></dd>
                                <dt>Demo展示地址:</dt>
                                <dd><a href="http://9z0pvw.coding-pages.com">Demo</a></dd>
                            </dl>
                            <p>此项目为 web 音乐播放器 App（SPA） ，包括歌曲、MV的搜索播放，评论列表的展示，可自适应移 动端和手机端，采用模块化、组件化、工程化的模式开发。</p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div>
            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/ai.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">股票预测模型</h2>
                                <p>基于AI的股票预测模型</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->

            </div><!-- .pf-popup-col2 -->
            <!-- .pf-grid-item -->


        </div>
    </div>
</section><!-- .section -->
